{% include '/_head.html' %}

    <body>
      <!--<div class="container">-->
        <!-- Page Content goes here -->

      <!-- Navbar goes here -->
      <!--{% include '/_navbar.html' %}-->
       
      <!-- Navbar goes here -->

      <div class="row" style="margin-bottom: 0px">

          {% include '/_indexSide.html' %}



        
          <div id="pagemain" class="col l9 m9 s12 blue-grey darken-4 bgtexture">





              

          </div>
          
        </div>


      </div>


    </body>

{% include '/_footer.html' %}



<script type="text/javascript">
  //ENABLE CAROUSEL
   $('.carousel').carousel({fullWidth: false});
   //$('.carousel').carousel({fullWidth: true});

   setInterval(function(){$('.carousel').carousel('next');},3000)
</script>

<script type="text/javascript">
  //PICTURE ALBUM AJAX FILL VIA API
  function fillCarousel(data,status) {

    if(status=="success")
    {
      console.log("---> Pictures Album");
      console.log(data);

      pictures_div=$("#pagemain")

      //clear indeterminate div
      pictures_div.html("");

      //remove progres class
      //pictures_div.removeClass("progress")

      //add carousel class
      //pictures_div.addClass("carousel")

      //data["Hawai"]=data["Singapore"];
      //data["Hawai2"]=data["Singapore"];

      

      for(var album in data)
      {
        //pictures_div.append('<a class="carousel-item" href="#"><img src="'+data[album][0]+'"></a>')
        //console.log(data[album])

   
        //console.log("***"+album)


        var albums_html_content='<div class="card col l6 s12 blue-grey darken-3">\
                        <div class="card-image waves-effect waves-block waves-light">\
                        <!--<img class="activator" src="images/office.jpg">-->\
                        <div class="carousel col s12">'

              for (var imagesrc in data[album]["images"])   
              {         
                  albums_html_content+='<a class="carousel-item" href="#"><img src="'+data[album]["images"][imagesrc]+'"></a>'
              }
                  

            albums_html_content+='</div>\
                </div>\
                <div class="card-content">\
                  <span class="card-title activator grey-text">'+ album +'<i class="material-icons right">more_vert</i></span>\
                  <!--<p><a href="#">This is a link</a></p>-->\
                </div>\
                <div class="card-reveal blue-grey darken-3">\
                  <span class="card-title white-text">'+ album +'<i class="material-icons right">close</i></span>\
                  <p class="white-text">'+data[album]["info"]+'</p>\
                </div>\
              </div>'


              //albums_html_content="<h1>"+album+"</h1>"
              pictures_div.append(albums_html_content);
      }


    }


     //Carousel
      $(document).ready(function(){
            $('.carousel').carousel();
          });

  }

  $.get(_API_URL+'?query={"data":"pictures"}',fillCarousel)

</script>


<script type="text/javascript">
  //Auto adjust height of Sidebar and Main content

  function AdjustHeight()
  {
    if (window.isMobile.matches) 
    {
          //Conditional script here
          console.log("---> Mobile Browser - from AdjustHeight");
        }
        else
        {
          console.log("---> Desktop or Tablet Browser - from AdjustHeight")
        
      var pagesideElement=$("#pageside")
      var pagemainElement=$("#pagemain")

      var pagesideH=pagesideElement.height()
      var pagemainH=pagemainElement.height()

      var viewPortHeight = $(window).height(); //screen vertical height = vh

      //get max height from the height of the two 
      var max=pagesideH>pagemainH?pagesideH:pagemainH

      //if max obtained before is less than the screen height, select max as window height
      max=max>viewPortHeight?max:viewPortHeight

      pagemainElement.height(max)
      pagesideElement.height(max)
    }
  }


  $( document ).ready(function()
    {
      setTimeout(AdjustHeight,0); //take care after 1s
      setTimeout(AdjustHeight,50); //take care after 1s
      setTimeout(AdjustHeight,200); //take care after 3s
      setTimeout(AdjustHeight,300); //take care after 7s again, if missed after 3 seconds
    })
          

</script>
