{% include '/_head.html' %}

<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet"> 
<style type="text/css">
  .post-body
  {
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    /*text-justify:auto;*/
  }

  .post-body h1:first-child 
  {
    text-shadow: 1px 2px 0px #ebebeb,
               0 0 0 black,
               -1px 1px 0 #ebebeb,
               5px 5px 0 #333;
  
    color: rgba(64, 65, 63, 1.0000);
  }
</style>

<link rel="stylesheet" href="/static/assets/highlight/styles/idea.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>


    <body>
      <!--<div class="container">-->
        <!-- Page Content goes here -->

      <!-- Navbar goes here -->
      <!--{% include '/_navbar.html' %}-->
       
      <!-- Navbar goes here -->

      <div class="row bgtexture" style="margin-bottom: 0px">

        
        
        {% include '/_postSide.html' %}
        {% include '/_postMain.html' %}
                            


      </div>


    </body>

{% include '/_footer.html' %}

